@media (max-width: 1024px) {
  /* ! Custom CSS ===================== */
  h1 {
    font-size: 3.25rem;
  }
  h2 {
    font-size: 1.125rem;
    line-height: 1.5625rem;
  }
  .wrapper {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}

@media (max-width: 991px) {
  /* ! Custom CSS ====================== */
  h4 {
    font-size: 0.9275rem;
    margin-bottom: 0.625rem;
  }
  p {
    font-size: 0.875rem;
    line-height: 1.3125rem;
  }
  .text-content {
    width: 100%;
  }
  /* ! Navar Design ====================== */
  .navigation-wrapper .navbar-brand img {
    height: 2.8125rem;
  }
  .navbar-toggler i {
    color: var(--white-color);
    line-height: 2;
  }
  .navigation-wrapper {
    text-align: right;
    background-color: var(--black-color);
  }
  .navigation-wrapper .nav-link {
    line-height: 1.875rem;
  }
  /* ! Top Banner ========================== */
  #home {
    padding: 4.375rem 0 0;
  }
  #home .carousel-caption {
    top: 3.5rem;
  }
}

@media (max-width: 767px) {
  /* ! Custom CSS ====================== */
}

@media (max-width: 575px) {
  /* ! Custom CSS ======================= */
  h1 {
    font-size: 1.25rem;
  }
  h2 {
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 5px;
  }

  .main-btn {
    height: 20px;
    line-height: 20px;
    font-size: 0.9375rem;
  }
  .main-btn::after {
    -webkit-transform: translateY(0.9375rem);
    transform: translateY(0.9375rem);
  }
  .main-btn::before {
    -webkit-transform: translateY(-0.9375rem);
    transform: translateY(-0.9375rem);
  }

  /* ! Top Banner Section Design================= */
  #home .carousel-caption {
    top: 1.5rem;
  }
  #home .carousel-caption p {
    margin: 5px auto;
  }
}

@media (max-width: 430px) {
  /* ! Custom CSS ======================= */
  h1 {
    margin-bottom: 0;
  }
  /* ! Top Header Section Design =============== */
  .top-header {
    display: none;
  }
  #home .carousel-caption p {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
  #home .carousel-caption {
    padding: 0;
  }
}

@media (max-width: 360px) {
  /* ! Top Banner Section======================== */
  #home .carousel-caption {
    top: 1rem;
  }
}

@media (max-width: 280px) {
  #home .carousel-caption p {
    display: none;
  }
  #home .carousel-caption h1 {
    margin-bottom: 1rem;
  }
  #home .carousel-caption {
    top: 2rem;
  }
}
