/* ! Google Font =============================== */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");

/* ! Code Reset =================================== */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}
a,
a:hover {
  text-decoration: none;
}

a:hover {
  color: var(--primary-color) !important;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

/* ! Variable Define =============================== */

:root {
  --primary-color: #ff553e;
  --secondary-color: #333;
  --white-color: #fff;
  --black-color: #000;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  font-weight: 400;
  font-family: "Dosis", sans-serif;
}

/* ! Custom Scrollbar ===================== */

::-webkit-scrollbar {
  width: 0.3125rem;
}

::-webkit-scrollbar-track {
  background: var(--white-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* ! Custom CSS Design ========================== */

h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: var(--white-color);
}

h2 {
  font-size: 1.5625rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--white-color);
  line-height: 2.5rem;
}

h4 {
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--white-color);
  margin-bottom: 0.9375rem;
  text-transform: capitalize;
  margin-bottom: 0.9375rem;
  transition: all 0.3s linear;
}

h5 {
  font-size: 0.875rem;
  color: var(--white-color);
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: 400;
}
p {
  font-size: 1rem;
  color: var(--white-color);
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 1px;
  opacity: 0.8;
}

.main-btn {
  height: 40px;
  line-height: 40px;
  font-size: 1.125rem;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 30px;
  position: relative;
  color: var(--white-color);
}

/* ! Custom Button ========================== */

.main-btn::after,
.main-btn::before {
  position: absolute;
  top: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  left: 0;
  width: 100%;
  height: 1px;
  content: "";
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}

.main-btn:after {
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

.main-btn:hover::before {
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
  background-color: var(--primary-color);
}
.main-btn:hover::after {
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  background-color: var(--primary-color);
}

.main-btn:hover {
  color: var(--primary-color) !important;
}

.wrapper {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: var(--secondary-color);
}

.text-content {
  width: 60%;
  margin: auto;
}

/* ! Navbar Design ========================= */

.top-header {
  background-color: var(--secondary-color);
}

.top-header span {
  color: var(--white-color);
  font-size: 0.875rem;
  letter-spacing: 0.10625rem;
}

.navigation-wrapper {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navigation-wrapper.scroll-on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0.125rem 1.75rem 1 rgb(0, 0, 0, 0.09);
  background-color: var(--black-color);
  transition: all 0.15s ease-in-out 0s;
}
.navigation-wrapper.scroll-on .nav-link:hover,
.navigation-wrapper.scroll-on .nav-link.active {
  color: var(--primary-color);
}

.navigation-wrapper .nav-item {
  padding: 0 0.5rem;
  transition: all 200ms linear;
}

.navigation-wrapper .nav-item .nav-link {
  font-size: 0.875rem;
  padding: 0.9375rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--white-color);
  letter-spacing: 0.0625rem;
}
.navigation-wrapper .nav-link:hover,
.navigation-wrapper .nav-link.active {
  color: var(--primary-color);
}

.navbar-toggler:focus {
  outline: unset;
  border: none;
  box-shadow: none;
}

/* ! Top Banner Section Design ======================== */
#home .carousel-caption {
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  top: 12rem;
}

#home .carousel-caption p {
  max-width: 36.25rem;
  margin: 1.0625rem auto;
}

/* !  New Arrivales Section Design ========================*/

.new-arrivales .banner-info {
  position: absolute;
  bottom: 30px;
  padding: 0 15px;
  width: 100%;
  z-index: 1000;
  margin: auto;
}

.new-arrivales .card-banner:nth-child(2) p,
.new-arrivales .card-banner:nth-child(2) h2,
.new-arrivales .card-banner:nth-child(2) a {
  color: var(--black-color);
}

.new-arrivales .card-banner:nth-child(2) a::before,
.new-arrivales .card-banner:nth-child(2) a::after {
  background-color: var(--black-color);
}

.new-arrivales .card-banner .card-thumb img,
.products .item-product img {
  transition: all 0.5s ease-out 0s;
}

.new-arrivales .card-banner .card-thumb img:hover,
.products .item-product img:hover {
  transform: scale(1.1);
  opacity: 0.6;
}
.new-arrivales .card-banner .card-thumb,
.products .item-product {
  position: relative;
  display: block;
  overflow: hidden;
}

/* ! Products Section Design ===================== */

.products .wrapper {
  background-color: var(--black-color);
}

.products .nav-tabs {
  border: 0;
  justify-content: center;
}
.products .nav-tabs .nav-link {
  border: 1px solid var(--white-color);
  margin: 10px;
  background-color: var(--black-color);
  color: var(--white-color);
  border-radius: 20px;
  padding: 0 30px;
  line-height: 34px;
  display: block;
  height: 36px;
  text-transform: uppercase;
}
.products .nav-tabs .nav-link.active {
  color: var(--primary-color);
}

.products .product-info .cat-parent,
.products .product-info .wishlist i {
  color: var(--white-color);
  opacity: 0.6;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.products .product-title a {
  margin: 0 0 7px;
  color: var(--white-color);
  overflow: hidden;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.products .rating i {
  color: #f4d632;
}

.products .basket i {
  color: var(--white-color);
}

/* ! Deal of the day Section Design */
.deal-of-the-day {
  background: url("../images/img/img-4.jpg") no-repeat center;
  background-size: cover;
}

/* ! Blog Section Design */
.blog-section .wrapper {
  background-color: var(--black-color);
}

/* ! Footer Section Design  ========================*/

.footer {
  background-color: var(--secondary-color);
}

.footer .footer-logo {
}

.footer .footer-link a i {
  font-size: 1.5rem;
  color: var(--white-color);
  padding: 0 1rem;
  transition: all 0.3s ease;
}

.footer .footer-link a i:hover {
  color: var(--primary-color);
  transform: translateY(-0.0425rem);
}
